[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "imgui"]
	path = sim/imgui
	url = https://github.com/ocornut/imgui
[submodule "sim/implot"]
	path = sim/implot
	url = https://github.com/epezent/implot
